li{
    
    position: relative;
    cursor: pointer;
    margin: auto;
}

li::after{
    content:"" ;
    position: absolute;
    bottom: -5px;
    height: 4px;
    width: 100%;
    left: 0;
    background-color: white;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    transform: scaleX(0);
    

}
li:hover::after{
    transform: scaleX(1); 
}






